.editor-generated-content > * + * {
  margin-top: 1em;
}
@font-face {
  font-family: 'jicons';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/jicons.eot');
  src: url('../fonts/jicons.eot?#iefix') format('embedded-opentype'), url('../fonts/jicons.woff') format('woff'), url('../fonts/jicons.svg#jicons') format('svg'), url('../fonts/jicons.ttf') format('truetype');
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
pre,
fieldset,
legend,
form {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Noto Sans CJK KR Black", "Apple SD Gothic Neo Medium", "NanumBarunGothic", "Malgun Gothic", "Nanum Gothic", "Gulim", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans CJK KR Thin", "Apple SD Gothic Neo Medium", "NanumBarunGothic", "Malgun Gothic", "Nanum Gothic", "Gulim", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
