@font-face {
  font-family: 'jicons';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/jicons.eot');
  src: url('../fonts/jicons.eot?#iefix') format('embedded-opentype'), url('../fonts/jicons.woff') format('woff'), url('../fonts/jicons.svg#jicons') format('svg'), url('../fonts/jicons.ttf') format('truetype');
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
pre,
fieldset,
legend,
form {
  margin: 0;
  padding: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
[data-height-mode] {
  padding-left: 0;
  padding-right: 0;
}
[data-height-mode].row,
[data-height-mode] .row {
  margin-left: 0;
  margin-right: 0;
}
[data-height-mode].row [class^="col-"],
[data-height-mode] .row [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}
