@sans-serif: '맑은 고딕', 'Malgun Gothic', Helbetica, sans-serif;

body {
	font-family: @sans-serif;
}

#jgm {
	.jgm-group {
		h3.jgm-group-title {
		}
		ul.jgm-group-items {
			list-style: none;
			margin: 0;
			padding: 0;
			li.jgm-group-item {
				margin: 0;
				padding: 0;
				a {
					span {
						&:before {
							content: '\F0AC';
							display: inline;
							margin-right: 0.2em;
							font-family: 'FontAwesome';
						}
					}
				}
			}
		}
	}
}

#jf_fallback_overlay {
	width: 800px;
	height: 600px;
	background-color: #FFFFFF;

	.wrap {
		background-color: #A3D1C9;
	}

	.summary {
	}

	.links {
		.group {
			display: inline-block;
			vertical-align: top;

			&.browsers {
			}

			&.compability {
			}

			.group-title-wrap {
				padding: 5px 10px;
				background-color: #5C5C5C;
			}			

			ul.items {
				display: block;
				text-align: center;

				li.item {
					display: inline-block;
					vertical-align: top;
				}
			}

		}
	}

	.controls {
	}

	.sprite {
		display: block;
		background: transparent url(../images/fallback-overlay.png) scroll no-repeat 0px 0px;

		&.summary-title {
			width: 544px;
			height: 44px;
			background-position: 0px -200px;
			margin: 0 auto;
		}

		&.welcome {
			width: 250px;
			height: 21px;
			background-position: 0px -300px;
		}

		&.drop {
			width: 549px;
			height: 21px;
			background-position: 0px -350px;
		}

		&.suggest {
			width: 556px;
			height: 21px;
			background-position: 0px -400px;
		}

		&.ie-update {
			width: 364px;
			height: 21px;
			background-position: 0px -450px;
		}

		&.group-title {
			margin: 0 auto;

			&.group-browsers-title {
				width: 183px;
				height: 19px;
				background-position: 0px -500px;
			}

			&.group-compability-title {
				width: 226px;
				height: 19px;
				background-position: 0px -550px;
			}
		}

		&.browser {
			width: 100px;
			height: 100px;

			&.google-chrome {
				background-position: 0px 0px;
				&:hover {
					background-position: 0px -100px;
				}
			}

			&.mozila-firefox {
				background-position: -100px 0px;
				&:hover {
					background-position: -100px -100px;
				}
			}

			&.microsoft-internet-explorer {
				background-position: -200px 0px;
				&:hover {
					background-position: -200px -100px;
				}
			}
		}

		span {
			display: none;
		}
	}

}
