@font-face {
	font-family: 'jfont';
	src:url('fonts/jfont.eot?xtm3ot');
	src:url('fonts/jfont.eot?#iefixxtm3ot') format('embedded-opentype'),
		url('fonts/jfont.woff?xtm3ot') format('woff'),
		url('fonts/jfont.ttf?xtm3ot') format('truetype'),
		url('fonts/jfont.svg?xtm3ot#jfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="j-"], [class*=" j-"] {
	font-family: 'jfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.j-jlogos-hostingt:before {
	content: "\e600";
}

.j-jlogos-jinbonet:before {
	content: "\e601";
}

.j-jlogos-jinbonet-en:before {
	content: "\e602";
}

.j-jlogos-jinbonet-full .path1:before {
	content: "\e603";
	color: rgb(203, 65, 67);
}
.j-jlogos-jinbonet-full .path2:before {
	content: "\e604";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path3:before {
	content: "\e605";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path4:before {
	content: "\e606";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path5:before {
	content: "\e607";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path6:before {
	content: "\e608";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path7:before {
	content: "\e609";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path8:before {
	content: "\e60a";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path9:before {
	content: "\e60b";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path10:before {
	content: "\e60c";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path11:before {
	content: "\e60d";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path12:before {
	content: "\e60e";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path13:before {
	content: "\e60f";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path14:before {
	content: "\e610";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path15:before {
	content: "\e611";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path16:before {
	content: "\e612";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path17:before {
	content: "\e613";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path18:before {
	content: "\e614";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path19:before {
	content: "\e615";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path20:before {
	content: "\e616";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path21:before {
	content: "\e617";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path22:before {
	content: "\e618";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path23:before {
	content: "\e619";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path24:before {
	content: "\e61a";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path25:before {
	content: "\e61b";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path26:before {
	content: "\e61c";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path27:before {
	content: "\e61d";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path28:before {
	content: "\e61e";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path29:before {
	content: "\e61f";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path30:before {
	content: "\e620";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path31:before {
	content: "\e621";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path32:before {
	content: "\e622";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path33:before {
	content: "\e623";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path34:before {
	content: "\e624";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path35:before {
	content: "\e625";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path36:before {
	content: "\e626";
	margin-left: -6.1552734375em;
	color: rgb(88, 89, 91);
}
.j-jlogos-jinbonet-full .path37:before {
	content: "\e627";
	margin-left: -6.1552734375em;
	color: rgb(203, 65, 67);
}
.j-jlogos-jinbonet-full .path38:before {
	content: "\e628";
	margin-left: -6.1552734375em;
	color: rgb(203, 65, 67);
}
.j-jlogos-jinbonet-full .path39:before {
	content: "\e629";
	margin-left: -6.1552734375em;
	color: rgb(203, 65, 67);
}
.j-jlogos-jinbonet-full .path40:before {
	content: "\e62a";
	margin-left: -6.1552734375em;
	color: rgb(203, 65, 67);
}
.j-jlogos-jinbonet-full .path41:before {
	content: "\e62b";
	margin-left: -6.1552734375em;
	color: rgb(203, 65, 67);
}
.j-jlogos-jinbonet-full .path42:before {
	content: "\e62c";
	margin-left: -6.1552734375em;
	color: rgb(203, 65, 67);
}
.j-jlogos-jinbonet-full .path43:before {
	content: "\e62d";
	margin-left: -6.1552734375em;
	color: rgb(203, 65, 67);
}
.j-jlogos-jinbonet-full .path44:before {
	content: "\e62e";
	margin-left: -6.1552734375em;
	color: rgb(203, 65, 67);
}

.j-jlogos-jinbonet-kr:before {
	content: "\e62f";
}

.j-jlogos-jinbonet-thin:before {
	content: "\e630";
}

.j-jlogos-mailinglist:before {
	content: "\e631";
}

.j-jlogos-socialfunch:before {
	content: "\e632";
}

.j-jlogos-socialfunch-fist:before {
	content: "\e633";
}

.j-jlogos-taogi:before {
	content: "\e634";
}

.j-jlogos-taogi-en:before {
	content: "\e635";
}

.j-jlogos-taogi-kr:before {
	content: "\e636";
}

.j-movement-candlelight:before {
	content: "\e637";
}

.j-movement-factory:before {
	content: "\e638";
}

.j-movement-fist:before {
	content: "\e639";
}

.j-movement-fist-o:before {
	content: "\e63a";
}

.j-movement-guy-fawkes:before {
	content: "\e63b";
}

.j-movement-hammer-and-sickle:before {
	content: "\e63c";
}

.j-movement-nuclear:before {
	content: "\e63d";
}

.j-movement-tent:before {
	content: "\e63e";
}

.j-movement-tower:before {
	content: "\e63f";
}

.j-movement-tower-o:before {
	content: "\e640";
}

.j-drights-base-station:before {
	content: "\e641";
}

.j-drights-dna:before {
	content: "\e642";
}

.j-drights-dna-v:before {
	content: "\e643";
}

.j-drights-fingerprint:before {
	content: "\e644";
}

.j-drights-fingerprint-identification:before {
	content: "\e645";
}

.j-drights-id-card:before {
	content: "\e646";
}

.j-drights-net-neutrality:before {
	content: "\e647";
}

.j-drights-passport:before {
	content: "\e648";
}

.j-drights-tag-identification:before {
	content: "\e649";
}

.j-remembrance-boat:before {
	content: "\e64a";
}

.j-remembrance-boat-o:before {
	content: "\e64b";
}

.j-remembrance-chrysanthemum:before {
	content: "\e64c";
}

.j-remembrance-ribbon:before {
	content: "\e64d";
}

.j-remembrance-ribbon-thick:before {
	content: "\e64e";
}

.j-misc-banned:before {
	content: "\e64f";
}

.j-misc-handshake-1:before {
	content: "\e650";
}

.j-misc-handshake-2:before {
	content: "\e651";
}

.j-misc-handshake-3:before {
	content: "\e652";
}

.j-misc-kakaotalk:before {
	content: "\e653";
}

.j-browser-chrome:before {
	content: "\e654";
}

.j-browser-explore:before {
	content: "\e655";
}

.j-browser-firefox:before {
	content: "\e656";
}

.j-browser-opera:before {
	content: "\e657";
}

.j-browser-safari:before {
	content: "\e658";
}

.j-apparatus-bluehouse-en:before {
	content: "\e659";
}

.j-apparatus-bluehouse-kr:before {
	content: "\e65a";
}

.j-apparatus-kocsc:before {
	content: "\e65b";
}

.j-apparatus-mogaha:before {
	content: "\e65c";
}

.j-apparatus-nis:before {
	content: "\e65d";
}

.j-apparatus-pipc:before {
	content: "\e65e";
}

